@import "././styles/variable";

.comment-wrapper {
  margin-top: 120px;
}

.comment-item-reply-label {
  display: inline-block;
  font-size: 12px;
  color: $grey-light;
  cursor: pointer;
  margin-bottom: 16px;
}

.comment-item {
  position: relative;
  min-height: 90px;
  padding: 16px 0;
  transition: all 0.2s;
  display: flex;
  width: 100%;
  border-bottom: 1px solid $grey-lighter;
}

.comment-item-avatar {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 20px;
  flex: 0 0 40px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.comment-item-main {
  font-size: 14px;
  flex: 1;
}

.comment-item-header {
  margin-bottom: 12px;
}

.comment-item-header-username {
  font-size: 14px;
}

.comment-item-header-datetime {
  font-size: 12px;
  color: $grey-light;
  float: right;
}


.comment-item-content, .comment-item-reply-content {
  line-height: 28px;
  margin-bottom: 12px;
}

.comment-input-textarea, .comment-reply-input-textarea {
  position: relative;
  margin: 12px 0;

  textarea {
    padding: 8px 12px;
    font-size: 14px;
  }

  button {
    float: right;
    margin: 16px 0;
  }
}

.btn-cancel {
  position: absolute;
  bottom: 20px;
  font-size: 14px;
  color: $grey-light;
  right: 100px;

  &:hover {
    color: $grey;
  }
}

.ant-btn-disabled {
  cursor: default;
  background: #8bc7ff;
  border-color: #8bc7ff;

  &:hover {
    background: #8bc7ff;
    border-color: #8bc7ff;
  }
}

.hidden {
  display: none;
}

.comment-item-reply-list {
  background: #f7f7f7;
  border-radius: 4px;
}

.comment-item-reply {
  margin: 20px;
}

.comment-item-reply-main {
  width: 100%;
  float: left;
  font-size: 14px;

  .tip {
    font-size: 12px;
    margin-bottom: 12px;

    span {
      margin: 0 8px;
      color: $grey-light;
    }
  }
}

.comment-item-reply-main-datetime {
  font-size: 12px;
  color: $grey-light;
  margin-left: 12px;
}

.comment-item-reply-reply-label {
  font-size: 12px;
  color: $grey-light;
  cursor: pointer;
}

.show-emoji-icon {
  font-size: 20px;
  float: right;
  margin-top: 24px;
  margin-right: 20px;
  cursor: pointer;

  &:hover {
    color: #1890ff;
  }
}

.emojis {
  box-sizing: content-box;
  width: 270px;
  height: 210px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;

  li {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: #1890ff;
    }
  }
}

.popover-emojis {
  .ant-popover-arrow,
  .ant-popover-inner-content {
    background: #333;
  }
}

.comment-pagination {
  text-align: center;
}
