@import "././styles/variable";

.comment-wrapper {
  margin-top: 24px;
}

.comment-item {
  position: relative;
  min-height: 90px;
  padding: 16px 0;
  transition: all 0.2s;
  width: 100%;
  border-bottom: 1px solid $grey-lighter;
}

.comment-editor-wrapper {
  position: relative;

  textarea {
    font-size: 15px;
    color: $grey-darker;
    line-height: 2;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 12px 0;

    .anticon {
      margin-right: 16px;
      line-height: 32px;
      cursor: pointer;
      font-size: 18px;
      color: $grey-light;

      &:hover {
        color: $link-color;
      }
    }

    a {
      margin-right: 16px;
      line-height: 32px;
      height: 32px;
      color: $grey-light;

      &:hover {
        color: $link-color;
      }
    }
  }
}

.comment-item-header {
  display: flex;
  margin-top: 8px;
  margin-bottom: 16px;

  .avatar {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    border-radius: 4px;
  }

  .headline {
    flex: 1;
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    margin-left: 16px;

    a {
      font-weight: bold;
      color: $grey-darker;
    }

    span {
      margin: 0 8px;
      color: $grey-light;
    }

    .datetime {
      color: $grey-light;
      float: right;
      font-size: 14px;
    }
  }
}

.comment-item-body {
  line-height: 2;
  font-size: 15px;
  color: $grey-darker;
}

.comment-item-footer {
  margin-top: 12px;
  color: $grey-light;

  &:hover .extra-buttons {
    display: inline-block;
  }

  .like {
    margin-right: 16px;
    font-size: 14px;
    cursor: pointer;
  }

  .has-like {
    color: $link-color;
    margin-right: 16px;
    font-size: 14px;
    cursor: pointer;
  }

  .extra-buttons {
    display: none;

    div {
      display: inline-block;
      color: $grey-light;
      margin-right: 16px;
      cursor: pointer;

      svg {
        vertical-align: text-bottom;
        fill: currentColor;
        margin-right: 4px;
      }
    }
  }
}

.comment-item-reply-main {
  width: 100%;
  float: left;
  font-size: 15px;
  line-height: 2;

  .tip {
    font-size: 12px;
    margin-bottom: 12px;

    span {
      margin: 0 8px;
      color: $grey-light;
    }
  }
}

.popover-emojis {
  .ant-popover-arrow,
  .ant-popover-inner-content {
    background: $grey-darker;
  }
}

.emojis {
  box-sizing: content-box;
  width: 270px;
  height: 210px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: $link-color;
    }
  }
}

.comment-pagination {
  text-align: center;
}

.comment-conversation {
  height: calc(100vh - 48px);
  top: 24px;
  padding-bottom: 0;

  .ant-modal-content {
    height: 100%;
  }

  .ant-modal-body {
    padding: 0 24px;
    height: calc(100vh - 48px - 55px);
    overflow-y: scroll;
  }
}
