@import "././styles/variable";
@import "emoji-mart";

.comment-wrapper {
  margin-top: 120px;
}

.comment-item-reply-label {
  display: inline-block;
  font-size: 12px;
  color: $grey-light;
  cursor: pointer;
  margin-bottom: 16px;
}

.comment-item {
  position: relative;
  min-height: 90px;
  padding: 16px 0;
  transition: all 0.2s;
  display: flex;
  width: 100%;
  border-bottom: 1px solid $grey-lighter;
}

.comment-item-avatar {
  width: 40px;
  height: 40px;
  display: block;
  margin-right: 20px;
  flex: 0 0 40px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.comment-item-main {
  font-size: 14px;
  flex: 1;
}

.comment-item-header {
  margin-bottom: 12px;
}

.comment-item-header-username {
  font-size: 14px;
}

.comment-item-header-datetime {
  font-size: 12px;
  color: $grey-light;
  float: right;
}


.comment-item-content, .comment-item-reply-content {
  line-height: 28px;
  margin-bottom: 12px;
}

.comment-input-textarea, .comment-reply-input-textarea {
  position: relative;
  margin: 12px 0;

  textarea {
    padding: 8px 12px;
    font-size: 14px;
  }

  button {
    float: right;
    margin: 16px 0;
  }
}

.hidden {
  display: none;
}

.comment-item-reply-list {
  background: #f7f7f7;
  border-radius: 4px;
}

.comment-item-reply {
  margin: 20px;
}

.comment-item-reply-main {
  width: 100%;
  float: left;
  font-size: 14px;

  .tip {
    font-size: 12px;
    margin-bottom: 12px;

    span {
      margin: 0 8px;
      color: $grey-light;
    }
  }
}

.comment-item-reply-main-datetime {
  font-size: 12px;
  color: $grey-light;
  margin-left: 12px;
}

.comment-item-reply-reply-label {
  font-size: 12px;
  color: $grey-light;
  cursor: pointer;
}


.emoji-show {
  font-size: 20px;
  float: right;
  margin-top: 24px;
  margin-right: 20px;
  cursor: pointer;
}
