@import "././styles/variable";

.topics {

}

.ant-card {
  margin-top: 12px;
}

.ant-card-bordered {
  border: none;
}

.all-topics {
  .ant-card-body {
    padding: 0 20px 20px;
  }
}

.ant-card-head {
  margin-bottom: 0;
}

.topic-list {
  padding: 0;
}

.topic-item {
  display: flex;
  padding: 16px 0;
  border-bottom: 1px solid $grey-lighter;
  background: #fff;
}

.topic-item-avatar {
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.topic-item-content {
  flex: 1;
  margin-left: 20px;
}

.topic-item-content-topic {
  font-size: 18px;
  color: $grey-darker;
  font-weight: 600;
}

.topic-item-content-bio {
  padding-top: 8px;
  margin-bottom: 0;
  color: $grey-darker;
}

.topic-item-button {
  margin-top: 16px;
  width: 100px;
}

.topic-description {
  height: 22px;
  overflow: hidden;
  display: inline-block;
  font-size: rgba(0,0,0,0.55);
}

.topic-tag {
  font-size: 14px;
  height: 32px;
  padding: 0 12px;
  line-height: 32px;
  border-radius: 10px;
  border: none;

  &:hover {
    opacity: .85;
  }

  a {
    color: $link-color;
    &:hover {
      color: $link-color;
    }
  }
}
