@import "././styles/variable";
@import "././styles/atom-one-dark";     // highlight atom-one-dark主题风格
@import "./article-content/preview";
@import "././styles/codemirror";

// 工具栏高度
$toolbar-height : 48px;
.markdown {
  height: calc(100vh - 48px);
  display: flex;
}

.markdown-editor {
  width: 50%;
  height: 100%;
  font-size: 15px;
}

.markdown-editor-show {
  width: $layout-width;
  overflow-y: unset;
  margin: 0 auto;
}

.markdown-editor-hidden {
  display: none;
}

.markdown-preview {
  width: 50%;
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  background: #fff;
}

.markdown-preview-show {
  width: $layout-width;
  overflow-y: unset;
  margin: 0 auto;
}

.markdown-preview-hidden {
  display: none;
}

.ant-spin-blur {
  opacity: 0;
}

.toolbar {
  height: $toolbar-height;
  background: rgba(51, 51, 51, 0.85);

  ol {
    margin-bottom: 0;
  }

  li {
    float: left;
    height: $toolbar-height;
    line-height: $toolbar-height;
    width: 36px;
    text-align: center;
    cursor: pointer;

    .anticon {
      color: #fff;
      font-size: 16px;
    }

    // 解决 Edge 浏览器显示失败
    .anticon-user-define:before {
      font-family: "anticon-user" !important;
    }
  }

  .release {
    margin-right: 160px;
    float: right;
  }

  .right-div {
    float: right;
    margin-right: 46px;
    height: $toolbar-height;
    line-height: $toolbar-height;
  }
}

.emojis {
  box-sizing: content-box;
  width: 270px;
  height: 210px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: #1890ff;
    }
  }
}

.popover-emojis {
  .ant-popover-arrow,
  .ant-popover-inner-content {
    background: #333;
  }
}

form {
  margin-top: 20px !important ;
}
