@import "././styles/variable";
$toolbar-height : 48px;

.toolbar {
  height: $toolbar-height;
  background: $grey-darker;

  li {
    float: left;
    height: $toolbar-height;
    line-height: $toolbar-height;
    width: $toolbar-height;
    text-align: center;
    cursor: pointer;

    .anticon {
      color: #fff;
      font-size: 16px;
    }
  }

  .release {
    margin-right: 60px;
    float: right;
  }
}

form {
  margin-top: 20px !important ;
}
