form {
  display: block;
  width: 400px;
  margin: 0 auto;
  padding-top: 150px;
}

h1 {
  text-align: center;
  padding: 20px;
  font-size: 48px;
  font-weight: 100;
}

a {
  float: right;
  margin-bottom: 10px;
}

button {
  width: 100%;
}
