@import "../../styles/variable";

.ant-layout {
  background: #f6f6f6;

  // 调整部分全局样式
  ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

.ant-layout-header {
  background: $background-color;
  padding: 0;
  height: $header-height;
  box-shadow: 1px 2px 8px $grey-lighter;
  color: $grey-darker;
}

.ant-layout-content {
  background: #fff;
  color: $grey-darker;
  padding: 24px;
  min-height: calc(100vh - $header-height);
  margin: 24px;
}

body {
  font-family: $font-family;
}

.logo {
  height: 64px;
  color: #fff;
  line-height: 64px;

  span {
    font-size: 34px;
    font-weight: bold;
    padding-left: 24px;
  }
}

.avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
