@import "../../styles/variable";

.ant-layout {
  background: #f6f6f6;

  // 调整部分全局样式
  ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}

// 图片预览对话框居中显示
.vertical-center-modal {
  text-align: center;
  white-space: nowrap;

  .ant-modal-body {
    padding: 0;
  }
}

.vertical-center-modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.vertical-center-modal .ant-modal {
  display: inline-block;
  vertical-align: middle;
  top: 0;
  text-align: left;
}

.ant-layout-header {
  background: $background-color;
  padding: 0;
  height: $header-height;
  box-shadow: 1px 2px 8px $grey-lighter;
  color: $grey-darker;
}

.ant-layout-content {
  background: #fff;
  color: $grey-darker;
  padding: 24px;
  min-height: calc(100vh - $header-height);
  margin: 24px;
}

body {
  font-family: $font-family;
}

.logo {
  height: 64px;
  line-height: 64px;

  a {
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    padding-left: 24px;
  }
}

.user-avatar {
  height: 32px;
  width: 32px;
  border-radius: 4px;
  cursor: pointer;
}

.topic-avatar {
  height: 48px;
  width: 48px;
  border-radius: 4px;
}

.avatar-big {
  height: 100%;
  width: 100%;
  cursor: zoom-out;
}

.ant-upload-select-picture-card {
  i {
    font-size: 32px;
    color: #999;
  }

  .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }

  img {
    width: 100px;
  }
}
