@import "././styles/variable";

.nav {
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 4px 0px $grey-light;

  .nav-menu {
    width: $layout-width;
    margin: 0 auto;
    border-bottom: none;
    line-height: 60px;
  }

  .nav-avatar {
    float: right;
  }

  .nav-notification {
    float: right;

    .anticon {
      font-size: 20px;
      vertical-align: middle;
    }
  }

  .ant-menu-item {
    width: 64px;
    text-align: center;
  }
}

.notification {
  width: 360px;

  .ant-popover-inner-content {
    padding: 0
  }

  .ant-list-item {
    padding: 16px 24px;
    cursor: pointer;
    min-height: 60px;
    align-items: flex-start;
    flex-direction: column;

    &:hover {
      background: #e6f7ff;
    }
  }

  .ant-tabs-bar {
    margin-bottom: 0;
  }

  .ant-list-item-meta-description {
    font-size: 12px;
    max-height: 64px;
    color: rgba(0,0,0,.55);
    overflow: hidden;
    max-width: 260px;
  }

  .ant-list-footer {
    padding-right: 24px;
    padding-left: 24px;
    border-top: 1px solid $grey-lighter;
  }

  .ant-list-item-meta-title {
    margin-bottom: 8px;
  }

  .ant-spin-nested-loading {
    height: 360px;
    overflow: auto;
  }

  .ant-list-item-action {
    margin-bottom: 0px;
    
    li {
      font-size: 12px;
      margin-top: 8px;
    }
  }
}

.not-found {
  .body {
    height: 360px;
    padding-top: 120px;
    text-align: center;
  }

  p {
    margin-top: 20px;
  }

  .footer {
    border-top: 1px solid $grey-lighter;
    padding: 12px 24px;
  }
}

.ant-avatar-image {
  vertical-align: middle;
}

.search {
  width: 200px;
  position: absolute;
}
