@import "././styles/variable";

.header {
  width: $layout-width;
  background: #fff;
  margin: 0 auto;
}

.header-left {
  a {
    display: inline-block;
    width: 64px;
    text-align: center;
  }
}

.header-right {
  height: $header-height;

  .ant-badge {
    display: inline;
    font-size: 20px;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 22px;
    margin-right: 48px;
    cursor: pointer;

    sup {
      margin-left: 8px;
    }
  }

  .ant-avatar {
    cursor: pointer;
    float: right;
    margin-top: 12px;
    background: #fff;
  }
}

.search-box {
  input {
    border: none;
    outline: none;
    height: 48px;
    padding-left: 12px;

    &:hover,
    &:focus {
      border: none;
      outline: none;
    }
  }

  .anticon {
    margin-right: 10px;
  }
}

.dropdown-search {
  width: 600px;

  .ant-dropdown-menu-item {
    overflow: hidden;
    padding: 12px 24px;
    white-space: normal;
    border-bottom: 1px solid #eee;

    em {
      color: #ff0000;
      font-style: normal;
    }

    .title {
      margin-bottom: 4px;
      color: $grey-dark;
    }

    .excerpt {
      font-size: 12px;
      margin-bottom: 0px;
      max-height: 44px;
      overflow: hidden;
    }
  }
}

input::placeholder {
  color: $grey;
}

.popover-avatar {
  .ant-popover-inner-content {
    padding: 8px 0;
  }

  a {
    display: block;
    line-height: 36px;
    height: 36px;
    padding: 0 24px;
    cursor: pointer;
    color: $grey-dark;

    &:hover {
      background: #e6f7ff;
    }

    .anticon {
      margin-right: 8px;
    }
  }
}

.popover-notification {
  width: 360px;

  .ant-popover-inner-content {
    padding: 0
  }

  .ant-list-item {
    padding: 16px 24px;
    cursor: pointer;
    min-height: 60px;
    align-items: flex-start;
    flex-direction: column;

    &:hover {
      background: #e6f7ff;
    }
  }

  .ant-tabs-bar {
    margin-bottom: 0;
  }

  .ant-list-item-meta-description {
    font-size: 12px;
    max-height: 64px;
    color: rgba(0,0,0,.55);
    overflow: hidden;
    max-width: 260px;
  }

  .ant-list-footer {
    padding-right: 24px;
    padding-left: 24px;
    border-top: 1px solid $grey-lighter;
  }

  .ant-list-item-meta-title {
    margin-bottom: 8px;
    margin-top: -2px;
    color: $grey-darker;
    font-size: 13px;
  }

  .ant-spin-nested-loading {
    height: 360px;
    overflow: auto;
  }

  .ant-list-item-action {
    margin-bottom: 0px;
    margin-left: 56px;

    li {
      font-size: 12px;
      margin-top: 8px;
    }
  }

  img {
    background: #fff;
  }
}

.not-found {
  .body {
    height: 360px;
    padding-top: 120px;
    text-align: center;
  }

  p {
    margin-top: 20px;
  }

  .footer {
    border-top: 1px solid $grey-lighter;
    padding: 12px 24px;
  }
}

.ant-avatar-image {
  vertical-align: middle;
}
