// 默认主题

$layout-width   : 900px;

$grey-lighter   : #eee;
$grey-light     : #bbb;
$grey           : #999;
$grey-dark      : #666;
$grey-darker    : #444;

$background-color : #fff;
$link-color     : #108ee9;

$font-family    : "Microsoft YaHei", "Helvetica Neue", Helvetica, Roboto, "PingFang SC", "Hiragino Sans GB";
